<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @universe.name %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @universe.movies %>
</p>

<%= link_to 'Edit', edit_universe_path(@universe) %> |
<%= link_to 'Back', universes_path %> |
<%= link_to "New Hero", new_universe_hero_path(@universe) %>
